[project]
	description = A lean JS server framework designed to get you kicking and hacking on the edge of things real fast.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group sinnerschrader
	owner = group user/Mario Nebl (marionebl)
[access "refs/for/refs/*"]
	read = group Anonymous Users
	read = group user/Mario Nebl (marionebl)
	push = group sinnerschrader
	push = group user/Mario Nebl (marionebl)
	label-Code-Review = -2..+2 group sinnerschrader
	label-Code-Review = -2..+2 group user/Mario Nebl (marionebl)
	label-Verified = -1..+1 group sinnerschrader
	label-Verified = -1..+1 group user/Mario Nebl (marionebl)
	rebase = group sinnerschrader
	rebase = group user/Mario Nebl (marionebl)
	removeReviewer = group sinnerschrader
	removeReviewer = group user/Mario Nebl (marionebl)
	submit = group sinnerschrader
	submit = group user/Mario Nebl (marionebl)
[access "refs/heads/*"]
	read = group sinnerschrader
	read = group user/Mario Nebl (marionebl)
	create = group sinnerschrader
	create = group user/Mario Nebl (marionebl)
[access "refs/tags/*"]
	push = group sinnerschrader
	push = +force group user/Mario Nebl (marionebl)
	pushTag = group sinnerschrader
	pushTag = group user/Mario Nebl (marionebl)
	pushSignedTag = group sinnerschrader
	pushSignedTag = group user/Mario Nebl (marionebl)
[receive]
	requireChangeId = true
[submit]
	action = rebase if necessary
	mergeContent = false
