[project]
	description = A lean JS server framework designed to get you kicking and hacking on the edge of things real fast.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Sinnerschrader Patternplate
	owner = group user/Mario Nebl (marionebl)
[access "refs/for/refs/*"]
	read = group Anonymous Users
	read = group user/Mario Nebl (marionebl)
	push = group Sinnerschrader Patternplate
	push = group user/Mario Nebl (marionebl)
	label-Code-Review = -2..+2 group Sinnerschrader Patternplate
	label-Code-Review = -2..+2 group user/Mario Nebl (marionebl)
	label-Verified = -1..+1 group Sinnerschrader Patternplate
	label-Verified = -1..+1 group user/Mario Nebl (marionebl)
	rebase = group Sinnerschrader Patternplate
	rebase = group user/Mario Nebl (marionebl)
	removeReviewer = group Sinnerschrader Patternplate
	removeReviewer = group user/Mario Nebl (marionebl)
	submit = group Sinnerschrader Patternplate
	submit = group user/Mario Nebl (marionebl)
[access "refs/heads/*"]
	read = group Sinnerschrader Patternplate
	read = group user/Mario Nebl (marionebl)
	create = group Sinnerschrader Patternplate
	create = group user/Mario Nebl (marionebl)
[access "refs/tags/*"]
	push = group Sinnerschrader Patternplate
	push = +force group user/Mario Nebl (marionebl)
	pushTag = group Sinnerschrader Patternplate
	pushTag = group user/Mario Nebl (marionebl)
	pushSignedTag = group Sinnerschrader Patternplate
	pushSignedTag = group user/Mario Nebl (marionebl)
[receive]
	requireChangeId = true
[submit]
	action = rebase if necessary
	mergeContent = false
